<html lang="ru">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Мои курсы">

<title>Мои курсы</title>

<link href="./css/u_main.css" rel="stylesheet">
<link href="./css/gap.css" rel="stylesheet">
<link href="./css/custom-tabs.css" rel="stylesheet">
<link href="./css/available-course.css" rel="stylesheet">
<link href="./css/progress-bar.css" rel="stylesheet">
<link href="./css/blocks/u_courses.css" rel="stylesheet">
<link href="./css/blocks/menu.css" rel="stylesheet">

<!-- <link th:href="@{/css/u_main.css}" rel="stylesheet">
    <link th:href="@{/css/gap.css}" rel="stylesheet">
    <link th:href="@{/css/custom-tabs.css}" rel="stylesheet">
    <link th:href="@{/css/available-course.css}" rel="stylesheet">
    <link th:href="@{/css/progress-bar.css}" rel="stylesheet">
    <link th:href="@{/css/u_courses.css}" rel="stylesheet">
    <link th:href="@{/css/menu.css}" rel="stylesheet"> -->

</head>

<body class="body">

  <div class="main-nav main-nav_none hidden">
    <div class="main-nav__wrapper">

      <div class="main-nav__logo">
        <div class="main-nav__item-wrapper">
          <div class="main-nav__item-wrapper">
            <div class="main-nav__avatar">
              <div class="avatar">
                <div class="avatar__wrapper avatar__wrapper_large">
                  <span class="avatar-image avatar-image_large avatar-image_default menu__avatar">
                    avatar
                    <img src="./img/menu/image13.png" alt="avatar">

                  </span>
                </div>
              </div>
            </div>
            <div class="main-nav__avatar-desc">
              <div class="main-nav__avatar-name">Агнаева Екатерина Викторовна</div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-nav__list-items">
        <div class="main-nav__items-wrapper">
          <div class="main-nav__items-wrapper">
            <a href="/user/courses/" class="main-nav__item-wrapper">
              <div class="main-nav__item main-nav__item_dashboard  main-nav__item_active"></div>
              <div class="main-nav__item-title">Мои курсы</div>
            </a>
          </div>
        </div>
        <div class="main-nav__items-wrapper">
          <a href="/logout" class="main-nav__item-wrapper">
            <div class="main-nav__item main-nav__item_exit"></div>
            <div class="main-nav__item-title">Выход</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-nav menu">
    <div class="mobile-nav__box block menu__inner">
      <div class="mobile-nav__wrapper block-wrapper ">
        <div class="mobile-nav__main ">
          <div class="mobile-nav__items ">
            <div class="mobile-nav__items-wrapper  menu__wrapper">
              <div class="mobile-nav__item mobile-nav__item_menu ">
                <div js-open-mobile-menu class="mobile-menu menu__control">
                  <div class="mobile-menu__item mobile-menu__item_close burger">
                    <div class="mobile-menu__icon mobile-menu__icon_close burger__row"></div>
                  </div>
                  <div class="mobile-menu__item mobile-menu__item_open burger">
                    <div class="mobile-menu__icon mobile-menu__icon_open burge.r__row"></div>
                  </div>
                  <div class="mobile-menu__item">
                    Меню
                  </div>
                </div>
              </div>

              <div class="mobile-nav__item mobile-nav__item_avatar menu__avatar">
                <div class="avatar">
                  <div class="avatar__wrapper avatar__wrapper_xsmall">
                    <span class="avatar-image avatar-image_default menu__avatar">
                      <img src="./img/menu/image13.png" alt="avatar">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="open-mobile-menu nav__wrapper" js-mobile-menu style="display: none">
      <div class="open-mobile-menu__container nav__list">
        <div class="main-nav__logo open-mobile-menu__logo menu__avatar nav__item">
          <div class="main-nav__item-wrapper open-mobile-menu__item-wrapper">
            <div class="main-nav__item-wrapper nav__item item">
              <div class="main-nav__avatar menu__avatar nav__avatar">
                <div class="avatar">
                  <div class="avatar__wrapper avatar__wrapper_large">
                    <span class="avatar-image avatar-image_large avatar-image_default">
                      <img src="./img/menu/image13.png" alt="avatar">
                    </span>
                  </div>
                </div>
              </div>
              <div class="main-nav__avatar-desc">
                <div class="main-nav__avatar-name">Агнаева Екатерина Викторовна</div>
              </div>
            </div>
            <div class="open-mobile-menu__close menu__close" js-close-mobile-menu>
              <svg width="20" height="20" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.25352 6.50015L12.6369 10.8835C13.1211 11.3677 13.1211 12.1527 12.6369 12.6369C12.1527 13.121 11.3677 13.121 10.8835 12.6369L6.50017 8.25352L2.11681 12.6369C1.63262 13.121 0.847605 13.121 0.363427 12.6369C-0.120745 12.1527 -0.120739 11.3677 0.36344 10.8835L4.74682 6.50015L0.363138 2.11651C-0.121041 1.63233 -0.121047 0.847327 0.363125 0.363144C0.847302 -0.121044 1.63232 -0.121049 2.1165 0.363133L6.50017 4.74678L10.8838 0.363133C11.368 -0.121049 12.153 -0.121044 12.6372 0.363144C13.1214 0.847327 13.1214 1.63233 12.6372 2.11651L8.25352 6.50015Z"
                  fill="black" />
              </svg>
            </div>
          </div>
        </div>
        <div class="main-nav__list-items open-mobile-menu__list-items">
          <div class="main-nav__items-wrapper nav__item">
            <a href="/user/courses/" class="main-nav__item-wrapper">
              <div class="main-nav__item main-nav__item_dashboard  main-nav__item_active  nav__icon"></div>
              <div class="main-nav__item-title"><span class="nav__text">Мои курсы</span></div>
            </a>
          </div>
          <div class="main-nav__items-wrapper nav__item nav__item">
            <a href="/user/courses/" class="main-nav__item-wrapper">
              <div class="main-nav__item main-nav__item_dashboard  main-nav__item_active  nav__icon"></div>
              <div class="main-nav__item-title"><span class="nav__text">Мои курсы</span></div>
            </a>
          </div>
          <div class=" open-mobile-menu__exit nav__item">
            <a href="/logout" class="main-nav__item-wrapper">
              <div class="main-nav__item main-nav__item_exit nav__icon""></div>
              <div class=" main-nav__item-title"><span class="nav__text">Выйти из аккаунта</span></div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/main.js"></script>
  </div>

  <div class="body__wrapper">

    <div class="body__header">

      <header class="header">
        <div class="header__box block">
          <div class="header__wrapper block-wrapper">
            <div class="header__main">
              <div class="header__items">
                <div class="header__items-wrapper">
                  <div class="header__item header__item_title">
                    <h3>Мои курсы</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

    </div>
    <div class="body__content">

      <div class="available-courses block -gap-inner-bottom_5 -gap-inner-top_5">
        <div class="available-courses__wrapper block-wrapper">
          <div class="available-courses__main">
            <div class="-gap_3">
              <div class="tabs tabs_underline">
                <div class="tabs__wrapper">
                  <div class="tabs__list">

                    <div class="tabs__item">
                      <a js-tabby-tab href="#" class="tabs-item is-open" data-tabby="c:0">
                        <div class="tabs-item__title">Alina Velvet</div>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="tabs-animated">

              <div js-tabby-panel class="tabs-panel  is-open" data-tabby="c:0">
                <div class="tabs-panel-transform">
                  <div class="available-courses__list">

                    <a href="156388/" class="available-course">
                      <div class="available-course__wrapper  light" style="background-color:#ff7d52;">
                        <div class="available-course__main">
                          <div class="available-course__start -gap_4">
                            <div class="info-blocks">
                              <div class="info-blocks__wrapper">
                                <div class="info-block info-block_icon info-block_icon_play">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--start"></use>
                                  </svg>
                                  <span class="info-block__text info-block__text_big">25.11.20</span>
                                </div>
                                <div class="info-block">
                                  <span class="info-block__text info-block__text_big">19:00</span>
                                </div>
                              </div>
                            </div>

                            <img src="./img/available-course/SweetsAcademy.png" alt="sweetsAcademy">

                          </div>
                          <div class="available-course__title -gap_2">Пряники Домашние</div>
                          <div class="available-course__type -gap_3">
                            <div class="outline-text">
                              <div class="outline-text__content outline-text__content_dark">

                                <div class="outline-text__text">Онлайн-курс</div>
                              </div>
                            </div>
                          </div>
                          <div class="available-course__desc">
                            Какой-то подзаголовок
                          </div>
                          <div class="available-course__progress -gap_4">
                            <div class="progress-bar">
                              <div class="progress-bar__wrapper">
                                <div class="progress-bar__progress progress_red" style="width:0%;"></div>
                                <span class="progress-bar__text">0 %</span>
                                <span class="progress-bar__text">0 модуля пройдено</span>
                              </div>
                            </div>
                          </div>
                          <div class="available-course__info">
                            <div class="info-blocks">
                              <div class="info-blocks__wrapper">
                                <div class="info-block info-block_icon info-block_icon_module">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--lessons"></use>
                                  </svg>
                                  <span class="info-block__text">2 модулей</span>
                                </div>
                                <div class="info-block info-block_icon info-block_icon_video">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--video-lesson"></use>
                                  </svg>
                                  <span class="info-block__text">2 урок</span>
                                </div>
                                <div class="info-block info-block_icon info-block_icon_work">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--homework"></use>
                                  </svg>
                                  <span class="info-block__text">2 домашнее задание</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-course__side">
                          <div class="available-course__image">
                            <img src="./img/available-course/bg.png" alt="bg">
                          </div>
                        </div>
                      </div>
                    </a>

                    <a href="134091/" class="available-course">
                      <div class="available-course__wrapper  light" style="background-color:#a78ccf;">
                        <div class="available-course__main">
                          <div class="available-course__start -gap_4">
                            <div class="info-blocks">
                              <div class="info-blocks__wrapper">
                                <div class="info-block info-block_icon info-block_icon_play">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--start"></use>
                                  </svg>
                                  <span class="info-block__text info-block__text_big">04.09.19</span>
                                </div>
                                <div class="info-block">
                                  <span class="info-block__text info-block__text_big">19:00</span>
                                </div>
                              </div>
                            </div>

                            <img src="./img/available-course/SweetsAcademy.png" alt="sweetsAcademy">

                          </div>
                          <div class="available-course__title -gap_2">Декор Часть 1</div>
                          <div class="available-course__type -gap_3">
                            <div class="outline-text">
                              <div class="outline-text__content outline-text__content_dark">

                                <div class="outline-text__text">Онлайн-курс</div>
                              </div>
                            </div>
                          </div>
                          <div class="available-course__desc">
                            Какой-то подзаголовок
                          </div>
                          <div class="available-course__progress -gap_4">
                            <div class="progress-bar">
                              <div class="progress-bar__wrapper">
                                <div class="progress-bar__progress progress_red" style="width:0%;"></div>
                                <span class="progress-bar__text">0 %</span>
                                <span class="progress-bar__text">0 модуля пройдено</span>
                              </div>
                            </div>
                          </div>
                          <div class="available-course__info">
                            <div class="info-blocks">
                              <div class="info-blocks__wrapper">
                                <div class="info-block info-block_icon info-block_icon_module">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--lessons"></use>
                                  </svg>
                                  <span class="info-block__text">1 модулей</span>
                                </div>
                                <div class="info-block info-block_icon info-block_icon_video">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--video-lesson"></use>
                                  </svg>
                                  <span class="info-block__text">2 урок</span>
                                </div>
                                <div class="info-block info-block_icon info-block_icon_work">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--homework"></use>
                                  </svg>
                                  <span class="info-block__text">0 домашнее задание</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-course__side">
                          <div class="available-course__image">
                            <img src="./img/available-course/bg.png" alt="bg">
                          </div>
                        </div>
                      </div>
                    </a>

                    <a href="156414/" class="available-course">
                      <div class="available-course__wrapper  light" style="background-color:#a78ccf;">
                        <div class="available-course__main">
                          <div class="available-course__start -gap_4">
                            <div class="info-blocks">
                              <div class="info-blocks__wrapper">
                                <div class="info-block info-block_icon info-block_icon_play">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--start"></use>
                                  </svg>
                                  <span class="info-block__text info-block__text_big">27.03.21</span>
                                </div>
                                <div class="info-block">
                                  <span class="info-block__text info-block__text_big">10:00</span>
                                </div>
                              </div>
                            </div>

                            <img src="./img/available-course/SweetsAcademy.png" alt="sweetsAcademy">

                          </div>
                          <div class="available-course__title -gap_2">Декор Часть 1</div>
                          <div class="available-course__type -gap_3">
                            <div class="outline-text">
                              <div class="outline-text__content outline-text__content_dark">

                                <div class="outline-text__text">Онлайн-курс</div>
                              </div>
                            </div>
                          </div>
                          <div class="available-course__desc">
                            Какой-то подзаголовок
                          </div>
                          <div class="available-course__progress -gap_4">
                            <div class="progress-bar">
                              <div class="progress-bar__wrapper">
                                <div class="progress-bar__progress progress_red" style="width:0%;"></div>
                                <span class="progress-bar__text">0 %</span>
                                <span class="progress-bar__text">0 модуля пройдено</span>
                              </div>
                            </div>
                          </div>
                          <div class="available-course__info">
                            <div class="info-blocks">
                              <div class="info-blocks__wrapper">
                                <div class="info-block info-block_icon info-block_icon_module">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--lessons"></use>
                                  </svg>
                                  <span class="info-block__text">1 модулей</span>
                                </div>
                                <div class="info-block info-block_icon info-block_icon_video">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--video-lesson"></use>
                                  </svg>
                                  <span class="info-block__text">2 урок</span>
                                </div>
                                <div class="info-block info-block_icon info-block_icon_work">
                                  <svg class="info-block__icon">
                                    <use xlink:href="sprite.svg#available-course--homework"></use>
                                  </svg>
                                  <span class="info-block__text">0 домашнее задание</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-course__side">
                          <div class="available-course__image">
                            <img src="./img/available-course/bg.png" alt="bg">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="/js/jquery-3.4.1.min.js"></script>
          <script src="/js/jquery.validate.min.js"></script>
          <script src="/js/i18n/messages_ru.min.js"></script> -->

<script src="./js/_tabby.js"></script>
<script src="./js/tabs.js"></script>
<script src="./js/progress-bar.js"></script>
<script src="./js/menu-nav.js"></script>
<script src="./js/main.js"></script>

</html>