<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" th:attr="content=${module.name}">

	<title th:utext="${module.name}"></title>

	<!-- <link th:href="@{/css/u_main.css}" rel="stylesheet">
    <link th:href="@{/css/gap.css}" rel="stylesheet">
    <link th:href="@{/css/custom-tabs.css}" rel="stylesheet">
    <link th:href="@{/css/available-course.css}" rel="stylesheet">
    <link th:href="@{/css/info-blocks.css}" rel="stylesheet">
    <link th:href="@{/css/progress-bar.css}" rel="stylesheet">
    <link th:href="@{/css/btn.css}" rel="stylesheet">
    <link th:href="@{/css/main-nav.css}" rel="stylesheet"> -->

	<link rel="stylesheet" href="./css/u_main.css">
	<link rel="stylesheet" href="./css/gap.css">
	<link rel="stylesheet" href="./css/custom-tabs.css">
	<link rel="stylesheet" href="./css/available-course.css">
	<link rel="stylesheet" href="./css/info-blocks.css">
	<link rel="stylesheet" href="./css/progress-bar.css">
  <link rel="stylesheet" href="./css/btn.css">
	<link rel="stylesheet" href="./css/main-nav.css">

	<!-- Мои CSS -->

	<link rel="stylesheet" href="./css/blocks/menu.css">
	<link rel="stylesheet" href="./css/blocks/u_module.css">

</head>

<body class="body">
	<div th:replace="base :: user-nav"></div>

  <div class="main-nav main-nav_none hidden">
    <div class="main-nav__wrapper">

      <div class="main-nav__logo">
        <div class="main-nav__item-wrapper">
          <div class="main-nav__item-wrapper">
            <div class="main-nav__avatar">
              <div class="avatar">
                <div class="avatar__wrapper avatar__wrapper_large">
                  <span class="avatar-image avatar-image_large avatar-image_default menu__avatar">
                    avatar
                    <img src="./img/menu/image13.png" alt="avatar">

                  </span>
                </div>
              </div>
            </div>
            <div class="main-nav__avatar-desc">
              <div class="main-nav__avatar-name nav__name">Агнаева Екатерина Викторовна</div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-nav__list-items">
        <div class="main-nav__items-wrapper">
          <div class="main-nav__items-wrapper">
            <a href="/user/courses/" class="main-nav__item-wrapper">
              <div class="main-nav__item main-nav__item_dashboard  main-nav__item_active"></div>
              <div class="main-nav__item-title">Мои курсы</div>
            </a>
          </div>
        </div>
        <div class="main-nav__items-wrapper">
          <a href="/logout" class="main-nav__item-wrapper">
            <div class="main-nav__item main-nav__item_exit"></div>
            <div class="main-nav__item-title">Выход</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-nav menu">
    <div class="mobile-nav__box block menu__inner">
      <div class="mobile-nav__wrapper block-wrapper ">
        <div class="mobile-nav__main ">
          <div class="mobile-nav__items ">
            <div class="mobile-nav__items-wrapper  menu__wrapper">
              <div class="mobile-nav__item mobile-nav__item_menu ">
                <div js-open-mobile-menu class="mobile-menu menu__control">
                  <div class="mobile-menu__item mobile-menu__item_close burger">
                    <div class="mobile-menu__icon mobile-menu__icon_close burger__row"></div>
                  </div>
                  <!-- <div class="mobile-menu__item mobile-menu__item_open burger">
                    <div class="mobile-menu__icon mobile-menu__icon_open burger__row"></div>
                  </div> -->
                  <div class="mobile-menu__item">
                    Меню
                  </div>
                </div>
              </div>

              <div class="mobile-nav__item mobile-nav__item_avatar menu__avatar">
                <div class="avatar">
                  <div class="avatar__wrapper avatar__wrapper_xsmall">
                    <span class="avatar-image avatar-image_default menu__avatar">
                      <img src="./img/menu/image13.png" alt="avatar">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="open-mobile-menu nav__wrapper" js-mobile-menu style="display: none">
      <div class="open-mobile-menu__container nav__list">
        <div class="main-nav__logo open-mobile-menu__logo menu__avatar nav__item ">
          <div class="main-nav__item-wrapper open-mobile-menu__item-wrapper">
            <div class="main-nav__item-wrapper nav__item active">
              <div class="main-nav__avatar menu__avatar nav__avatar">
                <div class="avatar">
                  <div class="avatar__wrapper avatar__wrapper_large">
                    <span class="avatar-image avatar-image_large avatar-image_default">
                      <img src="./img/menu/image13.png" alt="avatar">
                    </span>
                  </div>
                </div>
              </div>
              <div class="main-nav__avatar-desc">
                <div class="main-nav__avatar-name">Агнаева Екатерина Викторовна</div>
              </div>
            </div>
            <div class="open-mobile-menu__close menu__close" js-close-mobile-menu>
              <svg width="20" height="20" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.25352 6.50015L12.6369 10.8835C13.1211 11.3677 13.1211 12.1527 12.6369 12.6369C12.1527 13.121 11.3677 13.121 10.8835 12.6369L6.50017 8.25352L2.11681 12.6369C1.63262 13.121 0.847605 13.121 0.363427 12.6369C-0.120745 12.1527 -0.120739 11.3677 0.36344 10.8835L4.74682 6.50015L0.363138 2.11651C-0.121041 1.63233 -0.121047 0.847327 0.363125 0.363144C0.847302 -0.121044 1.63232 -0.121049 2.1165 0.363133L6.50017 4.74678L10.8838 0.363133C11.368 -0.121049 12.153 -0.121044 12.6372 0.363144C13.1214 0.847327 13.1214 1.63233 12.6372 2.11651L8.25352 6.50015Z"
                  fill="black" />
              </svg>
            </div>
          </div>
        </div>
        <div class="main-nav__list-items open-mobile-menu__list-items">
          <div class="main-nav__items-wrapper nav__item">
            <a href="/user/courses/" class="main-nav__item-wrapper">
              <div class="main-nav__item main-nav__item_dashboard  main-nav__item_active">
                <svg class="nav__icon">
                  <use xlink:href="sprite.svg#menu--courses"></use>
                </svg>
              </div>
              <div class="main-nav__item-title"><span class="nav__text">Мои курсы</span></div>
            </a>
          </div>
          <div class="main-nav__items-wrapper nav__item nav__item">
            <a href="/user/courses/" class="main-nav__item-wrapper">
              <div class="main-nav__item main-nav__item_dashboard  main-nav__item_active  nav__icon">
                <svg class="nav__icon">
                  <use xlink:href="sprite.svg#menu--cart"></use>
                </svg>
              </div>
              <div class="main-nav__item-title"><span class="nav__text">Мои курсы</span></div>
            </a>
          </div>
          <div class=" open-mobile-menu__exit nav__item">
            <a href="/logout" class="main-nav__item-wrapper">
              <div class="main-nav__item main-nav__item_exit nav__icon"">
                <svg class="nav__icon">
                  <use xlink:href="sprite.svg#menu--logout"></use>
                </svg>
              </div>
              <div class=" main-nav__item-title"><span class="nav__text">Выйти из аккаунта</span></div>
            </a>
          </div>
        </div>
      </div>
    </div>


    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/main.js"></script>
  </div>

	<div class="body__wrapper container">
		<div class="body__header">
			<header class="header">
				<div class="header__box block">
					<div class="header__wrapper block-wrapper">
						<div class="header__main">

              <div class="header__item header__item_btn header__back back">
                <a th:href="'/user/courses/' + ${idDeal} + '/'" class="btn btn_outline ">
                  <div class="btn__content btn__content_large">
                    <span class="btn__title btn__title_small btn__icon btn__icon_arrow-left back__arrow">
                      <span class="btn_title-text btn_title-text_small back__title">К списку модулей</span>
                    </span>
                  </div>
                </a>
              </div>


							<!-- <div class="header__items header__title">
								<div class="header__items-wrapper">
									<div class="header__item header__item_title">
										<h3> </h3>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</header>
    </div>
    

		<div class="body__content">

			<div class="lessons block -gap-inner-bottom_5 -gap-inner-top_5 ">
				<div class="lessons__wrapper block-wrapper">
          
          <div class="lessons__main">
						<div class="block-header -gap_5">
							<div class="title title-h2 -gap_0 lessons__title" th:utext="${module.name}"> Ягодные маффины
                и восточные сладости</div>
							<div class="subtitle subtitle-h5 lessons__subtitle" th:utext="'Модуль ' + ${module.index}">модуль 1</div>
						</div>

						<th:block th:each="lesson, stat : ${lessons}">
							<div class="content-element">
								<div class="content-element__wrapper lesson">
									<div class="content-element__side">
										<div class="content-element__header lesson__header">
											<div class="content-element__header-wrapper">
												<div class="content-element__header-item lesson__part">
													<div class="content-element__header-main">
														<div class="content-element__header-element lesson__id">
															<span class="content-element__title content-element__title_blue title title-h4"
																th:utext="${stat.count}">1</span>
														</div>
													</div>
												</div>
												<div class="content-element__header-item lesson__part">
													<div class="content-element__header-main -gap_2">
														<div class="content-element__header-element lesson__title">
															<span class="content-element__title title title-h5" th:utext="${lesson.title}">Выпекаем коржи</span>
														</div>
													</div>
													<div class="content-element__header-side">
														<div class="info-blocks lesson__info info">
															<div class="info-blocks__wrapper">
																<div class="info-block info-block_icon info-block_icon_clock info__item">
																	<span class="info-block__text info__text"
																		th:utext="${lesson.duration / 60 } + ' ч ' + ${lesson.duration % 60 } + ' мин'"> 1 ч 30 мин</span>
																</div>
																<div class="info-block info-block_icon info-block_icon_doc info__item">
																	<span class="info-block__text info__text"
																		th:utext="${lesson.documentsCounter} + ' документов'">3 файла</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="content-element__header-item lesson__part">
													<div class="content-element__header-main">
														<div class="content-element__header-btn lesson__btn">
															<th:block th:if="${allowHomeworkStart or lesson.type != 'homework'}">
																<a th:href="'/user/courses/' + ${idDeal} + '/' + ${lesson.idModule} + '/' + ${lesson.id} + '/'"
																	class="btn btn_outline">
																	<div class="btn__content btn__content_large">
																		<span class="btn__title btn__title_small">
																			<th:block th:if="${lesson.type} == 'homework'">
                                        <span class="btn_title-text btn_title-text_small lesson__text">Перейти к ДЗ</span>
                                        
                                        <svg class="lesson__icon">
                                          <use xlink:href="sprite.svg#next-arrow"></use>
                                        </svg>

																			</th:block>
																			<th:block th:unless="${lesson.type} == 'homework'">

                                        <svg class="lesson__icon">
                                          <use xlink:href="sprite.svg#next-arrow"></use>
                                        </svg>

																				<span class="btn_title-text btn_title-text_small lesson__text">Перейти к уроку</span>
																			</th:block>
																		</span>
																	</div>
																</a>
															</th:block>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
            </th:block>

            <!-- <div class="content-element">
              <div class="content-element__wrapper">
                <div class="content-element__side documents content-element__side_small ">
                  <div class="content-element__header">
                    <div vote-block-wrapper class="content-element__header-wrapper apprasial__inner">
                      <div class="content-element__header-item">
                        <div class="content-element__header-main">
                          <div class="content-element__header-element">
                            <span class="content-element__title title title-h6 appraisal__title">Пожалуйста, оцените
                              урок</span>
                          </div>
                        </div>
                      </div>
                      <div class="content-element__header-item">
                        <div class="content-element__header-main apprasial__buttons">
                          <div vote data-rate="1" class="content-element__header-btn">
                            <div class="btn btn_outline-gray like">
                              <div class="btn__content btn__content_xlarge">
                                <span class="btn__title btn__icon btn__icon_like btn__title_medium">
                                  <span class="btn_title-text btn_title-text_small llike__icin">
                                  </span>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div vote data-rate="0" class="content-element__header-btn">
                            <div class="btn btn_outline-gray">
                              <div class="btn__content btn__content_xlarge dislike">
                                <span class="btn__title btn__icon btn__icon_dislike btn__title_medium">
                                  <span class="btn_title-text btn_title-text_small">
                                  </span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

					</div>
				</div>
      </div>
    </div>
  </div>
  



</body>
	<script src="./js/main.js"></script>

</html>