*,
::before,
::after {
  margin: 0;
  padding: 0;
  outline: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: TTCommons;
  background-color: #f4f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: default;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

.body__wrapper {
  width: 100%;
}

.header__box {
  padding-bottom: 0;
  padding-left: 20px;
}

.available-courses {
  height: auto !important;
}

.available-courses.block {
  padding: 0 20px;
}

.available-courses__list {
  margin-top: 20px;
  margin-bottom: 40px;
}

.courses {
  padding: 0;
  height: auto;
  margin-top: 20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.courses:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(8, 15, 32, 0.3);
  box-shadow: 0px 10px 20px rgba(8, 15, 32, 0.3);
}

.courses__main {
  padding: 20px 20px 0 20px;
  width: 100%;
}

.courses__about {
  padding: 20px 20px 0 20px;
}

.courses__item {
  padding: 0;
}

.courses__item:first-child {
  margin-top: 0;
}

.courses__date img {
  display: none;
}

.courses__title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 24px;
}

.courses__type {
  margin-top: 8px;
  margin-bottom: 0;
  display: inline-block;
}

.courses__desc {
  margin-top: 42px;
}

.courses__progress {
  margin-top: 20px;
}

.courses__content {
  margin-top: 20px;
}

.courses__image {
  margin-top: 5px;
}

.type__text {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
}

.info {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info__item {
  min-width: auto;
}

.info__item:first-child {
  margin-top: 0;
}

.info__item::after {
  display: none;
}

.date__item {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.progress-bar__text {
  font-size: 14px;
}

@media (min-width: 375px) {
  .courses__date {
    margin-bottom: 0;
  }
  .courses__date img {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 24px;
  }
  .courses__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .courses__type {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .courses__desc {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .progress-bar__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .date__item {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .info__item {
    font-size: 12px;
    min-width: auto;
    margin: 0 14px;
  }
  .info__item::after {
    display: block;
  }
  .type__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media (min-width: 600px) {
  .courses__about {
    padding: 23px 30px 40px 30px;
  }
  .courses__date img {
    width: 80px;
    height: 56px;
  }
  .courses__desc {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
  }
  .courses__image {
    display: none;
  }
  .courses__content {
    margin-bottom: 20px;
  }
  .courses__date {
    margin-bottom: 0;
  }
  .courses__date img {
    top: 23px;
    right: 30px;
  }
  .progress-bar__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media (min-width: 851px) {
  .available-courses {
    padding: 0 0 0 40px !important;
  }
  .courses__main {
    margin: 0;
    padding: 0;
  }
  .courses__wrapper {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin: 0 40px;
    border-radius: 15px;
  }
  .courses__title {
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
  .courses__image {
    display: block;
  }
}

@media (min-width: 1000px) {
  .header__box {
    padding: 20px 0 0 40px;
    height: 100px;
    background-color: white;
  }
  .header__box h3 {
    font-size: 37px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
  }
  .body__wrapper {
    width: calc(100% - 70px);
    margin-left: 70px;
  }
  .courses__about {
    max-width: 400px;
  }
  .courses__image img {
    width: 458px;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .available-courses__list {
    width: 1181px;
  }
  .courses__about {
    min-width: 460px;
  }
  .courses__title {
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    transform: translateY(11px);
  }
  .courses__type {
    margin-top: 14px;
  }
  .courses__progress {
    margin-top: 31px;
  }
  .type__text {
    padding: 3px 9px;
    border: 1px solid;
    border-radius: 5px;
  }
  .info {
    margin-top: 7px;
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(7px);
  }
  .tabs__wrapper {
    width: 1181px;
  }
}
