<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Модули курса">

	<title>Модули курса</title>

	<!-- <link th:href="@{../../css/u_main.css}" rel="stylesheet">
    <link th:href="@{../../css/gap.css}" rel="stylesheet">
    <link th:href="@{../../css/custom-tabs.css}" rel="stylesheet">
    <link th:href="@{../../css/available-course.css}" rel="stylesheet">
    <link th:href="@{../../css/info-blocks.css}" rel="stylesheet">
    <link th:href="@{../../css/progress-bar.css}" rel="stylesheet">
    <link th:href="@{../../css/btn.css}" rel="stylesheet">
    <link th:href="@{../../css/main-nav.css}" rel="stylesheet">
		<link th:href="@{../../css/pages/u_modules.css}" rel="stylesheet"> -->

		<link href="../css/u_main.css" rel="stylesheet">
    <link href="../css/gap.css" rel="stylesheet">
    <link href="../css/custom-tabs.css" rel="stylesheet">
    <link href="../css/available-course.css" rel="stylesheet">
    <link href="../css/info-blocks.css" rel="stylesheet">
    <link href="../css/progress-bar.css" rel="stylesheet">
    <link href="../css/btn.css" rel="stylesheet">
    <link href="../css/main-nav.css" rel="stylesheet">
		<link href="../css/pages/u_modules.css" rel="stylesheet"> 

</head>
<body class="body"  onload="getCountdownOnUserModulesPage()">
	<div th:replace="base :: user-nav"></div>

	<div class="body__wrapper">
		<div class="body__header">
			<header class="header">
				<div class="header__box block">
					<div class="header__wrapper block-wrapper">
						<div class="header__main">
							<div class="header__items">
								<div class="header__items-wrapper">

									<div class="header__item header__item_btn">
										<a th:href="'/user/courses/' + ${idDeal} + '/' + ${idModule} + '/'"
											class="btn btn_outline header__btn header-btn">
											<div class="btn__content btn__content_large">
												<span class="btn__title btn__title_small btn__icon btn__icon_arrow-left">
													<span class="btn_title-text btn_title-text_small header-btn__text">
														К списку уроков
													</span>
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div class="body__content">

			<div class="modules block -gap-inner-bottom_5 -gap-inner-top_5">
				<div class="modules__wrapper block-wrapper">
					<div class="modules__main">


						<div class="content-element module-top">
							<div class="content-element__wrapper module-top__wrapper">

								<!--                                <div class="logo">-->
								<!--                                    <img src="/img/sa-logo.svg" alt="">-->
								<!--                                </div>-->


								<div class="content-element__side module-top__inner">
									<div class="content-element__header -gap_4 module__content">
										<div class="content-element__header-wrapper">
											<div class="content-element__header-item module-top__about module-about">
												<div class="content-element__header-main -gap_2 module-about__inner">
													<div class="content-element__header-element module-about__title">
														<span class="content-element__title title title-h2"
															th:utext="${course.name}">Название</span>
													</div>
													<div class="content-element__header-element module-about__type module-type">
														<div class="outline-text">
															<div class="outline-text__content outline-text__content_dark">
																<div class="outline-text__text module-type__text" th:utext="${course.type}">Тип курса
																</div>
															</div>
														</div>
													</div>
													<div class="content-element__header-element module-about__start">
														<span class="content-element__title countdown css_countdown" th:id="countdown"
															th:data-startDate="${course.fullStartTime}">Когда начинается</span>
													</div>

													<img src="../img/SweetsAcademy.svg" alt="sweetsAcademy">
												</div>
												<div class="content-element__header-side">
													<div class="info-blocks">
														<div class="info-blocks__wrapper module-about__info module-info ">
															<div class="info-block info-block_icon info-block_icon_module module-info__item">
																<span class="info-block__text" th:utext="${course.modulesCount} + ' модулей'">5
																	модулей</span>
															</div>
															<div class="info-block info-block_icon info-block_icon_video module-info__item">
																<span class="info-block__text" th:utext="${course.lessonsCount} + ' урок'">3
																	уроков</span>
															</div>
															<div class="info-block info-block_icon info-block_icon_work module-info__item">
																<span class="info-block__text"
																	th:utext="${course.homeworkCount} + ' домашнее задание'">7 заданий</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="content-element__content module-top__progress">
										<div class="progress-bar">
											<div class="progress-bar__wrapper">
												<div class="progress-bar__progress"
													th:style="'width:' + ${course.completedModulesPercent} + '%;'"
													th:classappend="${course.completedModulesClass}"></div>
												<span class="progress-bar__text" th:utext="${course.completedModulesPercent + ' %'}">0%</span>
												<span class="progress-bar__text"
													th:utext="${course.completedModulesCount + ' модуля пройдено'}">3 модулей
													пройдено</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="block-delimiter"></div>

						<div class="module-vk">
							<div class="module-vk__inner">
								<div class="module-vk__group">
									<div class="module-vk__title">
										<p>Групповой чат

											<span class="module-vk__icon">
												<svg>
													<use xlink:href='../sprite.svg#vk'></use>
												</svg>
											</span>

										</p>
									</div>

									<p class="module-vk__description">
										Там вы можете общаться с кураторами и однокурсниками,
										делиться впечатлениями и спрашивать если что-то не получается
									</p>
								</div>

								<div class="module-vk__dialog">

									<img src="../img/dialog.svg" alt="dialog">

									<div class="module-vk__dialog-typing">
										<img src="../img/dialog-typing.png" alt="dialog-typing">
										<div class="module-vk__type">
											<div class="module-vk__typing"></div>
											<div class="module-vk__typing"></div>
											<div class="module-vk__typing"></div>
										</div>
									</div>
								</div>
								<a class="module-vk__btn" href="/">Перейти в чат</a>
							</div>
						</div>

						<div class="block-delimiter"></div>

						<th:block th:each="module, stat : ${modules}">


							<div class="content-element module">
								<div class="content-element__wrapper module__column">
									<div class="content-element__side content-element__side_bordered module__wrapper">
										<div class="content-element__header module__wrapper-inner">
											<div class="content-element__header-wrapper module__header module-header">

												<div class="content-element__header-item module-header__item">
													<div class="content-element__header-main">
														<div class="content-element__header-element">
															<span
																class="content-element__title content-element__title_blue title title-h4 module-header__id"
																th:utext="${stat.count}">1</span>
														</div>
													</div>
												</div>

												<div class="content-element__header-item module-header__item">
													<div class="content-element__header-main -gap_2 module-header__item-wrapper">
														<div class="content-element__header-element module-header__title">
															<span class="content-element__title title title-h5 " th:utext="${module.name}">Холодный
																малиновый чизкейк</span>
														</div>
													</div>

													<div class="content-element__header-side">
														<div class="info-blocks">
															<div class="info-blocks__wrapper module-header__content">
																<div class="info-block info-block_icon info-block_icon_video module-header__elem">
																	<span class="info-block__text" th:utext="${module.lessonsCount} + ' урок'">6
																		уроков</span>
																</div>
																<div class="info-block info-block_icon info-block_icon_work module-header__elem">
																	<span class="info-block__text"
																		th:utext="${module.homeworkCount} + ' домашнее задание'">Домашнее задание</span>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>

											<div class="content-element__header-item module-header__btn-container">

												<div class="content-element__header-main content-element__header-buttons module-header__buttons"
													th:if="${module.allowStart && module.enabled}">

													<div class="content-element__header-btn module-header__btn-inner">

														<div class="module-header__raiting">
															<svg class="module-header__icon">
																<use xlink:href="../sprite.svg#star-solid"></use>
															</svg>

															4.5
														</div>


														<div class="btn btn_default " th:classappend="'btn_' + ${module.statusCode}">

															<div class="btn__content btn__content_medium module-header__status">


																<th:block th:if="${module.statusId != 1 && module.statusId != 2}">

																	<span class="btn__title btn__title_small btn__icon module-header__status-info"
																		th:classappend="'btn__icon_' + ${module.statusCode}">

																		<span class="sucess">
																			<span class="sucess__icon">
																				<svg>
																					<use xlink:href='../sprite.svg#check-circle-solid'></use>
																				</svg>
																			</span>

																			<span class="sucess__raiting raiting-icon">
																				<svg>
																					<use xlink:href="../sprite.svg#star-solid"></use>
																				</svg>

																				4.5
																			</span>

																			<span class="btn_title-text btn_title-text_small sucess__text"
																				th:utext="${module.enabled ? module.statusTitle : 'Недоступен'}">
																				Поверено

																			</span>
																		</span>

																		<span class="on-checked">
																			<span class="on-checked__icon">
																				<svg>
																					<use xlink:href='../sprite.svg#clock-regular'></use>
																				</svg>
																			</span>

																			<span class="btn_title-text btn_title-text_small on-checked__text"
																				th:utext="${module.enabled ? module.statusTitle : 'Недоступен'}">
																				На проверке

																			</span>
																		</span>

																		<span class="process">
																			<span class="process__icon">
																				<svg>
																					<use xlink:href='../sprite.svg#play'></use>
																				</svg>
																			</span>

																			<span class="btn_title-text btn_title-text_small process__text"
																				th:utext="${module.enabled ? module.statusTitle : 'Недоступен'}">
																				Прохожу

																			</span>
																		</span>

																		<span class="not-start">
																			<span class="not-start__icon">
																				<svg>
																					<use xlink:href='../sprite.svg#play'></use>
																				</svg>
																			</span>

																			<span class="btn_title-text btn_title-text_small not-start__text"
																				th:utext="${module.enabled ? module.statusTitle : 'Недоступен'}">
																				Не начал

																			</span>
																		</span>


																		<span class="unreachable">
																			<span class="module-status">
																				<svg class="">
																					<use xlink:href='../sprite.svg#check-circle-solid'></use>
																				</svg>
																			</span>

																			<span>
																				<svg class="module-header__icon">
																					<use xlink:href="../sprite.svg#star-solid"></use>
																				</svg>

																				4.5
																			</span>

																			<span class="btn_title-text btn_title-text_small module-status__status"
																				th:utext="${module.enabled ? module.statusTitle : 'Недоступен'}">
																				На проверке

																			</span>
																		</span>

																	</span>

																</th:block>

																<!-- <th:block th:unless="${module.statusId != 1 && module.statusId != 2}">
																	<span class="btn__title btn__title_small">
																		<span class="btn_title-text btn_title-text_small module-header__status-btn"
																			th:utext="${module.enabled ? module.statusTitle : 'Недоступен'}">Стаус 2</span>
																	</span>
																</th:block> -->
															</div>

														</div>

													</div>

													<div
														class="content-element__header-btn module-header__btn  module-header__btn-inner not-start">
														<th:block th:if="${module.enabled}">
															<a th:href="'/user/courses/' + ${idDeal} + '/' + ${module.id} + '/'"
																class="btn btn_outline">
																<div class="btn__content btn__content_large module-header__btn">
																	<span class="btn__title btn__title_small">
																		<span class="btn_title-text btn_title-text_small module-header__status-btn">

																			Перейти
																			к урокам

																		</span>
																	</span>
																</div>
															</a>
														</th:block>

														<!-- <th:block th:unless="${module.enabled}">
															<button class="btn btn_outline" disabled>
																<div class="btn__content btn__content_large">
																	<span class="btn__title btn__title_small">
																		<span class="btn_title-text btn_title-text_small">Перейти
																			к урокам</span>
																	</span>
																</div>
															</button>
														</th:block>  -->
													</div>
												</div>

												<div class="module__lessons-closed module-header__warning"
													th:if="${!(module.allowStart && module.enabled)}">
													Урок будет доступен при выполнении домашнего задания прошлого
													модуля!
												</div>
											</div>

										</div>
									</div>

									<input type="checkbox" id="module__checkbox" class="module__checkbox">
									<label for="module__checkbox" class="module__roll-up roll-up">
										<span class="roll-up__text">Свернуть</span>
									</label>

									<div class="content-element__main module__main module-main">
										<div class="content-element__content module-main__wrapper-inner">
											<div class="content-element__content__wrapper module-main__wrapper">
												<div class="content-element__content-main module-main__inner">
													<div class="content-element__text content-element__text_short module-main__text-wrapper">
														<div class="content-element__text-wrapper module-main__text"
															th:utext="${module.description}">
															Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit incidunt aut eos est,
															architecto nobis voluptatum libero ut
														</div>
													</div>
												</div>
												<div class="content-element__content-side module-main__side">
													<div class="content-element__image module-main__image">
														<!-- <img th:src="'/' + ${module.logoPath}" alt=""> -->
														<img src="../img/preview.png" alt="">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</th:block>

						<!--                        <div class="content-element">-->
						<!--                            <div class="content-element__wrapper">-->
						<!--                                <div class="content-element__side content-element__side_bordered">-->
						<!--                                    <div class="content-element__header">-->
						<!--                                        <div class="content-element__header-wrapper">-->
						<!--                                            <div class="content-element__header-item">-->
						<!--                                                <div class="content-element__header-main -gap_2">-->
						<!--                                                    <div class="content-element__header-element">-->
						<!--                                                        <span class="content-element__title title title-h5">Холодный малиновый чизкейк</span>-->
						<!--                                                    </div>-->
						<!--                                                </div>-->
						<!--                                                <div class="content-element__header-side">-->
						<!--                                                    <div class="info-blocks">-->
						<!--                                                        <div class="info-blocks__wrapper">-->
						<!--                                                            <div class="info-block info-block_icon info-block_icon_video">-->
						<!--                                                                <span class="info-block__text">6 модулей</span>-->
						<!--                                                            </div>-->
						<!--                                                            <div class="info-block info-block_icon info-block_icon_work">-->
						<!--                                                                <span class="info-block__text">7 домашних заданий</span>-->
						<!--                                                            </div>-->
						<!--                                                        </div>-->
						<!--                                                    </div>-->
						<!--                                                </div>-->
						<!--                                            </div>-->
						<!--                                            <div class="content-element__header-item">-->
						<!--                                                <div class="content-element__header-main">-->
						<!--                                                    <div class="content-element__header-btn">-->
						<!--                                                        <a href="#" class="btn btn_violet">-->
						<!--                                                            <div class="btn__content btn__content_medium">-->
						<!--                                                                <span class="btn__title btn__title_small btn__icon btn__icon_play">-->
						<!--                                                                    <span class="btn_title-text btn_title-text_small">Прохожу</span>-->
						<!--                                                                </span>-->
						<!--                                                            </div>-->
						<!--                                                        </a>-->
						<!--                                                    </div>-->
						<!--                                                    <div class="content-element__header-btn">-->
						<!--                                                        <a href="#" class="btn btn_outline">-->
						<!--                                                            <div class="btn__content btn__content_large">-->
						<!--                                                                <span class="btn__title btn__title_small">-->
						<!--                                                                    <span class="btn_title-text btn_title-text_small">Перейти к урокам</span>-->
						<!--                                                                </span>-->
						<!--                                                            </div>-->
						<!--                                                        </a>-->
						<!--                                                    </div>-->
						<!--                                                </div>-->
						<!--                                            </div>-->
						<!--                                        </div>-->
						<!--                                    </div>-->
						<!--                                </div>-->
						<!--                                <div class="content-element__main">-->
						<!--                                    <div class="content-element__content">-->
						<!--                                        <div class="content-element__content__wrapper">-->
						<!--                                            <div class="content-element__content-main">-->
						<!--                                                <div class="content-element__text content-element__text_short">-->
						<!--                                                    <div class="content-element__text-wrapper">-->
						<!--                                                        Далеко-далеко за словесными горами в стране гласных и согласных-->
						<!--                                                        живут рыбные тексты. Вдали от всех живут они в буквенных домах на-->
						<!--                                                        берегу Семантика большого языкового океана. <br> Маленький ручеек Даль-->
						<!--                                                        журчит по всей стране и обеспечивает ее всеми необходимыми правилами.-->
						<!--                                                        Эта парадигматическая страна, в которой жаренные члены предложения-->
						<!--                                                        залетают прямо в рот.-->
						<!--                                                    </div>-->
						<!--                                                </div>-->
						<!--                                            </div>-->
						<!--                                            <div class="content-element__content-side">-->
						<!--                                                <div class="content-element__image">-->
						<!--                                                    <img src="/img/test-preview.png" alt="">-->
						<!--                                                </div>-->
						<!--                                            </div>-->
						<!--                                        </div>-->
						<!--                                    </div>-->
						<!--                                </div>-->
						<!--                            </div>-->
						<!--                        </div>-->


						<div class="block-delimiter"></div>

						<div class="available-courses__list">

							<a href="156388/" class="course__item">

								<div class="available-course__wrapper courses" style="background-color:#ff7d52;">
									<div class="available-course__main course__about">
										<div class="available-course__title -gap_2 courses__title">Пряники Домашние</div>
										<div class="available-course__type -gap_3 courses__type type">
											<div class="outline-text">
												<div class="outline-text__content outline-text__content_dark">

													<div class="outline-text__text type__text">Онлайн-курс</div>
												</div>
											</div>
										</div>
										<div class="available-course__desc courses__desc">
											Какой-то подзаголовок
										</div>


										<div class="available-course__info">
											<div class="info-blocks">
												<div class="info-blocks__wrapper courses__content info">
													<div class="info-block info-block_icon info-block_icon_module info__item">
														<span class="info-block__text">2 модулей</span>
													</div>
													<div class="info-block info-block_icon info-block_icon_video info__item">
														<span class="info-block__text">2 урок</span>
													</div>
													<div class="info-block info-block_icon info-block_icon_work info__item">
														<span class="info-block__text">2 заданий</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="available-course__side">
										<div class="available-course__image courses__image">
											<img src="../img/bg.png" alt="bg" />
											<span class="courses__open">
												Открыть <span></span>

												
											</span>
										</div>
									</div>

									<img class="courses__sweet" src="../img/SweetsAcademy.svg" alt="sweetsAcademy">
								</div>
							</a>



						</div>

						<div class="block-delimiter"></div>

						<div class="estimation">
							<div class="estimation__inner">
								<p class="estimation__title">Пожалуйста, оцените онлайн-курс</p>

								<ul class="estimation__list">
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										1
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										2
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										3
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										4
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										5
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										6
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#meh-solid'></use>
										</svg>
										7
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#meh-solid'></use>
										</svg>
										8
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#happiness'></use>
										</svg>
										9
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#happiness'></use>
										</svg>
										10
									</li>
								</ul>

							</div>
						</div>

						<div class="estimation">
							<div class="estimation__inner">
								<p class="estimation__title">Пожалуйста, оцените онлайн-курс</p>

								<ul class="estimation__list">
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										1
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										2
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										3
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										4
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										5
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#sadness'></use>
										</svg>
										6
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#meh-solid'></use>
										</svg>
										7
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#meh-solid'></use>
										</svg>
										8
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#happiness'></use>
										</svg>
										9
									</li>
									<li class="estimation__item">
										<svg>
											<use xlink:href='../sprite.svg#happiness'></use>
										</svg>
										10
									</li>
								</ul>

							</div>
						</div>


						<div class="sertifikat">
							<div class="sertifikat__inner">
								<div class="sertifikat__header sertifikat__header-preview">
									<p class="sertifikat__title sertifikat__title-preview">
										Сертификат
									</p>

									<a class="sertifikat__btn sertifikat__btn-preview" href="/">
										<svg>
											<use xlink:href='../sprite.svg#download'></use>
										</svg>
										Скачать &nbsp;<span class="sertifikat__media">сертификат</span> 
									</a>

								</div>


								<div class="sertifikat__content">

									<div class="sertifikat__image sertifikat-image">
										<img src="../img/bg.png" alt="sertifikat">
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="popup">
    <div class="popup__inner">
      <div class="popup__block">
        <div class="popup__wrapper">
          <div class="popup__top-bar">
            Редактировать профиль
            <span class="popup__close"></span>
          </div>

          <div class="popup__avatar">
            <img src="../img/image13.png" alt="avatar">
            <a href=".">Изменить аватар</a>
          </div>

          <p class="popup__name">Имя:</p>
          <input type="text" value="Василиса" placeholder="Введите имя">

          <p class="popup__lastname">Фамилия</p>
          <input type="text" value="Петрова" placeholder="Введите фамилию">

          <p class="popup__gender">Пол</p>

          <div class="popup__btn-container">
            <input name="gender" id="male" type="radio">
            <label class="popup__choose" for="male">Мужской</label>
            <input name="gender" id="female" type="radio" checked>
            <label class="popup__choose" for="female">Женский</label>
          </div>

          <p class="popup__birth">Дата рождения</p>
          <input type="text" value="02.09.1992" placeholder="Введите дату рождения">

          <p class="popup__city">Город</p>
          <input type="text" value="Барнаул" placeholder="Введите город">

          <p class="popup__tel">Телефон</p>
          <input type="text" value="+79000002222" placeholder="Введите телефон">

          <p class="popup__vk">Вконтакте</p>
          <input type="text" value="https://vk.com/niki7eev" placeholder="Введите аккаунт вконтакте">

          <p class="">Instagram</p>
          <input type="text" placeholder="Введите аккунт вашего инстаграм">
        </div>

        <div class="popup__controls">
          <a class="popup__save" href="#">Сохранить изменения</a>
          <a class="popup__cancel" href="#">Отмена</a>
        </div>

      </div>

    </div>
  </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../js/progress-bar.js"></script>
	<script src="../js/menu-nav.js"></script>
	<script src="../js/countdown.js"></script>
	<script src="../js/main-nav.js"></script>

  <!-- <th:block th:insert="base :: jquery" />
	<script th:src="@{../../js/progress-bar.js}"></script>
	<script th:src="@{../../js/menu-nav.js}"></script>
	<script th:src="@{../../js/countdown.js}"></script>
	<script th:src="@{../../js/main-nav.js}"></script> -->
</body>





</html>