@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

.body__header {
  height: 0px !important;
}

.header__btn {
  top: 22px;
  margin-left: 20px;
}

.header__box {
  padding: 0 !important;
  margin: 0 !important;
}

/* Header */
.header__box {
  padding-left: 20px;
}

.header__btn {
  margin-top: -6px;
}

.header__btn .btn__content {
  border: 0;
  padding: 0;
}

.header__btn .btn__content_large {
  padding: 0;
  min-width: 0;
}

.header__title {
  margin-top: 5px;
}

@media (min-width: 375px) {
  /* Header */
  .header__box {
    padding-bottom: 20px;
  }
  .header__btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media (min-width: 541px) {
  .progress-bar {
    margin-top: 25px;
  }
}

@media (min-width: 768px) {
  /* Header */
  .header-btn {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header-btn:hover {
    background-color: #481E8C;
    -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  }
  .header-btn:hover .header-btn__text {
    color: white;
  }
  .header-btn:hover .btn__icon_arrow-left:after {
    background-color: white;
  }
  .header__box {
    max-width: 1301px;
    position: relative;
  }
  .header__btn {
    position: absolute;
    z-index: 10;
    border: 1px solid #481E8C;
    width: 200px;
    height: 40px;
    top: 72px;
    margin-right: 20px;
    right: 0;
    border-radius: 5px;
  }
  .header-btn__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;
  }
  .lessons__main .title {
    max-width: calc(100% - 220px);
  }
}

@media (min-width: 1000px) {
  .menu {
    display: none;
  }
  /* Header */
}

/* menu */
.main-nav__item_active {
  background-color: #BFC0C4;
}

.mobile-menu {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}

.mobile-menu__inner {
  width: 100%;
  padding: 0 20px;
  margin: 0;
  background-color: white;
}

.mobile-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.mobile-menu__left {
  margin: 0;
}

.mobile-menu__right {
  margin: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav__name {
  width: 180px;
  font-size: 14px;
}

.nav__item {
  display: block;
  width: 100%;
}

.nav__item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: auto;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__item a:hover .main-nav__item_dashboard {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__item a:hover .main-nav__item-title {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__item a:hover .main-nav__item_exit {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__item a.active .main-nav__item_dashboard {
  background-color: #481E8C;
}

.nav__item a.active .main-nav__item-title {
  color: #481E8C;
}

.nav__item a.active .main-nav__item_exit {
  background-color: #481E8C;
}

.nav__item:last-child {
  margin-top: auto;
}

.nav__item-name {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.nav__user {
  width: 140px;
  word-wrap: break-word;
  white-space: normal;
}

.nav__name {
  font-size: 14px;
}

.menu__inner {
  width: 100%;
}

.user-settings {
  border: 1px solid;
  -webkit-mask: url(../../img/settings.svg) no-repeat center;
  mask: url(../../img/settings.svg) no-repeat center;
  -webkit-mask-size: 24px 24px;
  mask-size: 24px 24px;
}

.main-nav__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media (min-width: 375px) {
  .nav__name {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .main-nav__list-items {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }
}

/* Оценка */
.raiting__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
}

.raiting-btn {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: calc(50% - 5px);
  margin: 0;
}

.raiting-btn:first-child:hover {
  -webkit-box-shadow: 2px 2px 10px 0 rgba(39, 174, 96, 0.2);
  box-shadow: 2px 2px 10px 0 rgba(39, 174, 96, 0.2);
}

.raiting-btn:last-child:hover {
  -webkit-box-shadow: 2px 2px 10px 0 rgba(255, 40, 79, 0.2);
  box-shadow: 2px 2px 10px 0 rgba(255, 40, 79, 0.2);
}

.raiting-btn__inner {
  width: 100%;
}

.raiting-btn__content {
  min-width: 0;
}

.raiting-btn__icon::after {
  -webkit-transform: translate(5px, -10px);
  -ms-transform: translate(5px, -10px);
  transform: translate(5px, -10px);
}

@media (min-width: 375px) {
  /* Оценка */
  .raiting__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
    height: 40px;
  }
  .raiting__btn {
    height: 40px;
    margin-top: 0;
  }
  .raiting-btn {
    width: calc(50% - 5px);
  }
  .raiting-btn__inner {
    width: 100%;
  }
  .raiting-btn__content {
    height: 40px;
    width: calc(100%);
  }
  .raiting-btn__icon {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@media (min-width: 768px) {
  /* Оценка */
  .raiting__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .raiting__buttons {
    width: 490px;
    height: 60px;
    margin-left: auto;
    margin-top: 0;
  }
  .raiting__btn {
    width: 240px;
    height: 60px;
  }
  .raiting-btn {
    min-height: 60px;
  }
  .raiting-btn__content {
    height: 60px;
  }
}

.popup {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100vh;
  background-color: white;
  scrollbar-width: 0;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  pointer-events: none;
}

.popup::-webkit-scrollbar {
  width: 0%;
}

.popup__inner {
  width: 100%;
  height: 100vh;
}

.popup__wrapper {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  scrollbar-width: 0;
  padding-bottom: 20px;
}

.popup__wrapper::-webkit-scrollbar {
  width: 0;
}

.popup__wrapper p {
  padding: 0 43px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #BFC0C4;
  margin-top: 20px;
}

.popup__wrapper p:nth-child(7) {
  border-top: 1px solid;
  padding-top: 20px;
}

.popup__wrapper p:nth-child(7) {
  border-top: 1px solid;
  margin: 20px 20px 0;
  padding: 0 23px;
  padding-top: 20px;
}

.popup__wrapper p:nth-child(13) {
  border-top: 1px solid;
  margin: 20px 20px 0;
  padding: 0 23px;
  padding-top: 20px;
}

.popup__wrapper input[type="text"] {
  margin: 0 30px;
  height: 40px;
  padding: 13px 16px 10px 16px;
  border: 1px solid #BFC0C4;
  margin-top: 4px;
  border-radius: 5px;
  width: calc(100% - 60px);
}

.popup__wrapper input[type="text"]:nth-child(12) {
  margin-bottom: 20px;
}

.popup__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  position: relative;
  scrollbar-width: 0;
  height: 100vh;
  -webkit-box-shadow: -5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -5px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.popup__top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 25px rgba(7, 2, 14, 0.04);
  box-shadow: 0px 5px 25px rgba(7, 2, 14, 0.04);
}

.popup__close {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.popup__close::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3px;
  background-color: #BFC0C4;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.popup__close::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3px;
  background-color: #BFC0C4;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
}

.popup__avatar {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #BFC0C4;
}

.popup__avatar img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.popup__btn-container {
  padding: 0 30px;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__btn-container input {
  display: none;
}

.popup__choose {
  width: 50%;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.popup__tel {
  border-top: 1px solid #BFC0C4;
  padding-top: 20px !important;
  margin-top: 0 !important;
}

.popup__controls {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px -5px 25px rgba(7, 2, 14, 0.04);
  box-shadow: 0px -5px 25px rgba(7, 2, 14, 0.04);
  position: absolute;
  bottom: 0;
  background: white;
}

.popup__save {
  width: 200px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #481E8C;
  height: 40px;
  color: white;
  border-radius: 5px;
}

.popup__cancel {
  width: 120px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid;
  height: 40px;
  border-radius: 5px;
  margin-left: 10px;
}

#male:checked + label {
  background-color: #481E8C;
  color: white;
}

#female:checked + label {
  background-color: #481E8C;
  color: white;
}

@media (min-width: 600px) {
  .popup {
    background-color: transparent;
  }
  .popup__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .popup__block {
    width: 520px;
    background-color: white;
  }
  .popup__save {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .popup__cancel {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .popup__wrapper {
    width: 520px;
    background-color: white;
    position: relative;
  }
}

.lessons {
  padding: 0 20px;
  margin-bottom: 25px;
  margin-top: 66px;
}

.lessons__main {
  margin: 0;
}

.lessons__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lessons__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

.lessons__subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}

.lessons-column__inner {
  padding: 20px;
}

.lessons-column__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lessons-column__item {
  margin: 0;
}

.lessons-column__item:last-child {
  margin-left: 0 !important;
}

.lessons-column__title-margin {
  margin: 0;
}

.lessons-column__title {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lessons-column__blocks {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lessons-column__block {
  margin: 20px 0;
}

.lessons-column__block:first-child {
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

.lessons-column__block:last-child {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.lessons-column__button-wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.lessons-column__button-wrapper:hover {
  -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.lessons-column__btn {
  min-width: 0;
  height: auto;
  border: 0;
}

.lb::after {
  display: none;
}

.ls-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 50px;
  height: 50px;
  fill: #481E8C;
  border: 2px solid;
  -webkit-box-shadow: 3px 3px 10px 0 black;
  box-shadow: 3px 3px 10px 0 black;
}

.ls-btn__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.ls-btn__text {
  display: none;
}

@media (min-width: 375px) {
  .mobile-menu__item {
    margin-left: 2px;
  }
  .module-top__wrapper {
    padding-right: 26px;
    padding-left: 26px;
  }
  .module-info__item {
    border: 1px solid;
  }
  .lessons-column {
    height: 100px;
  }
  .lessons-column:nth-child(1) {
    margin-top: -10px;
  }
  .lessons-column__inner {
    height: 100%;
    padding: 30px 20px;
  }
  .lessons-column__wrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
  }
  .lessons-column__block {
    margin-top: 9px;
    margin-bottom: 0;
  }
  .lessons-column__id {
    margin-left: 5px;
    margin-top: 6px;
    margin-right: 17px;
  }
  .lessons-column__title .title {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-transform: translate(-17px, -2px);
    -ms-transform: translate(-17px, -2px);
    transform: translate(-17px, -2px);
  }
  .lessons-column__block {
    margin-left: 20px;
    margin-top: 8px;
  }
  .lessons-column__block:nth-child(2) {
    margin-left: 0;
    -webkit-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  .lessons-column__item:nth-child(2) {
    margin-left: 17px;
    margin-right: auto;
  }
  .lessons-column__button-wrapper {
    -webkit-transform: translate(-10px, -4px);
    -ms-transform: translate(-10px, -4px);
    transform: translate(-10px, -4px);
  }
  .lb::after {
    -webkit-transform: translate(-10px, -11px);
    -ms-transform: translate(-10px, -11px);
    transform: translate(-10px, -11px);
    display: block;
  }
  .ls-btn {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 500px) {
  .lessons-column__title {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  .lb:first-child {
    margin-right: 10px;
  }
  .lb:first-child .lb__text {
    margin-right: 0px;
  }
  .lb:first-child::after {
    -webkit-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
  }
  .lb:last-child::before {
    -webkit-transform: translate(10px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
  }
  .lb:last-child .lb__text {
    margin-left: 7px;
  }
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .block-delimiter {
    display: none;
  }
  .rating {
    display: none;
  }
  .lessons {
    margin: 0;
    padding: 0;
  }
  .lessons__title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 450px;
    word-wrap: wrap;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }
  .lessons__wrapper {
    max-width: 1303px;
  }
  .lessons__main {
    position: relative;
    margin-top: 66px;
    padding: 0 60px;
  }
  .header__btn {
    -webkit-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
  }
  .header__title {
    max-width: 700px;
  }
  .subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
  }
  .lessons-column {
    background-color: white;
  }
  .lessons-column__block {
    margin-top: 14px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .lessons-column__blocks {
    margin-top: 12px;
    margin-left: 0;
    -webkit-transform: translateX(-7px);
    -ms-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  .lessons-column__id {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    -webkit-transform: translate(9px, -4px);
    -ms-transform: translate(9px, -4px);
    transform: translate(9px, -4px);
  }
  .lessons-column__title .title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-transform: translate(15px, -10px);
    -ms-transform: translate(15px, -10px);
    transform: translate(15px, -10px);
    min-width: 100%;
  }
  .lessons-column__blocks {
    margin-top: 0px;
    margin-left: 40px;
  }
  .lessons-column__block {
    margin: 0;
  }
  .ls-btn {
    width: auto;
    height: auto;
    padding: 14px 45px 11px 45px;
  }
  .ls-btn__icon {
    display: none;
  }
  .ls-btn__text {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .ls-btn .btn__title {
    padding: 0;
  }
}

@media (min-width: 887px) {
  .lessons__title {
    width: 700px;
    word-wrap: wrap;
  }
}

@media (min-width: 1075px) {
  .lessons__wrapper {
    margin: 0;
  }
  .lessons__title {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
  }
}
