*,
::before,
::after {
  margin: 0;
  padding: 0;
  outline: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: TTCommons;
  background-color: #f4f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: default;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  outline: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: TTCommons;
  background-color: #f4f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: default;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

.body__header {
  height: 0px !important;
}

.header__btn {
  top: 22px;
  margin-left: 20px;
}

.header__box {
  padding: 0 !important;
  margin: 0 !important;
}

/* Header */
.header__box {
  padding-left: 20px;
}

.header__btn {
  margin-top: -6px;
}

.header__btn .btn__content {
  border: 0;
  padding: 0;
}

.header__btn .btn__content_large {
  padding: 0;
  min-width: 0;
}

.header__title {
  margin-top: 5px;
}

@media (min-width: 375px) {
  /* Header */
  .header__box {
    padding-bottom: 20px;
  }
  .header__btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media (min-width: 768px) {
  /* Header */
  .header-btn {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header-btn:hover {
    background-color: #481E8C;
    -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  }
  .header-btn:hover .header-btn__text {
    color: white;
  }
  .header-btn:hover .btn__icon_arrow-left:after {
    background-color: white;
  }
  .header__box {
    max-width: 1301px;
    position: relative;
  }
  .header__btn {
    position: absolute;
    z-index: 10;
    border: 1px solid #481E8C;
    width: 200px;
    height: 40px;
    top: 72px;
    margin-right: 20px;
    right: 0;
    border-radius: 5px;
  }
  .header-btn__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 15px;
  }
  .lessons__main .title {
    max-width: calc(100% - 220px);
  }
}

@media (min-width: 1000px) {
  .menu {
    display: none;
  }
  /* Header */
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  outline: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: TTCommons;
  background-color: #f4f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: default;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

/* menu */
.mobile-menu {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}

.mobile-menu__inner {
  width: 100%;
  padding: 0 20px;
  margin: 0;
  background-color: white;
}

.mobile-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.mobile-menu__left {
  margin: 0;
}

.mobile-menu__right {
  margin: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav__name {
  width: 180px;
  font-size: 14px;
}

.nav__item a {
  width: auto;
  height: auto;
}

.nav__item:last-child {
  margin-top: auto;
}

.nav__user {
  width: 140px;
  word-wrap: break-word;
  white-space: normal;
}

.nav__name {
  font-size: 14px;
}

.menu__inner {
  width: 100%;
}

@media (min-width: 375px) {
  .nav__name {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .main-nav__list-items {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }
}

.content-element__side_bordered {
  border-bottom: 0;
}

.body__content {
  display: inline-block;
  margin: 0;
}

.modules {
  padding: 0 20px;
}

.module-top {
  margin: 66px 0 0;
}

.module-top__wrapper {
  padding: 20px 20px 25px 20px;
}

.module-top__inner {
  padding: 0;
}

.module-top__about {
  margin: 0;
}

.module-top__progress {
  margin-top: 15px;
}

.module-about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding: 0 15px;
}

.module-about__inner img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 24px;
}

.module-about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}

.module-about__title span {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.module-about__type {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.module-about__start {
  display: none;
  margin: 0;
}

.module-about__info {
  margin-top: 25px;
  padding: 0;
}

.module-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0 0 0 18px;
}

.module-info__item {
  width: 100%;
  padding: 0 0 0 32px;
  margin-right: 0;
  margin-left: 0;
}

.module-info__item::after {
  display: none;
}

.module-type__text {
  color: #481E8C;
  padding: 2px 7px;
  border: 1px solid #481E8C;
  border-radius: 5px;
  margin-top: 5px;
}

.module-header__btn {
  width: 100%;
  padding: 0;
  min-width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 15px 0 0 0;
}

.module-header__btn span {
  padding-right: 5px;
  padding-left: 5px;
}

.module-status__status {
  border: 1px solid;
  border: 1px solid !important;
}

.progress-bar__text {
  font-size: 12px;
}

.module {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 15px;
}

.module:first-child {
  margin-top: 0;
}

.module:last-child {
  margin-bottom: 40px;
}

.module__wrapper {
  padding: 20px 20px 0 20px;
}

.module__content {
  margin: 0;
}

.module__header {
  margin: 0;
  padding: 0;
}

.module__main {
  padding: 20px 20px 0;
  height: auto;
  display: block;
}

.module__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.module__checkbox:checked ~ .module__main {
  height: 0;
  padding: 0;
}

.module__checkbox:checked ~ .module__main div {
  opacity: 1;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.module__checkbox:not(checked) ~ .module__main {
  height: auto;
}

.module__checkbox:not(checked) ~ .module__roll-up::after {
  -webkit-mask-image: url(../../img/angle-up-solid.svg);
  mask-image: url(../../img/angle-up-solid.svg);
  background-color: #BFC0C4;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.module__checkbox:checked ~ .module__roll-up::after {
  -webkit-mask-image: url(../../img/angle-down-solid.svg);
  mask-image: url(../../img/angle-down-solid.svg);
  background-color: #BFC0C4;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.module__roll-up {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #BFC0C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.module__roll-up::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  background-size: 20px 20px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.module__column {
  width: 100%;
}

.roll-up__text {
  display: none;
}

.module-header__icon {
  width: 15px;
  height: 15px;
  color: #BFC0C4;
  fill: #BFC0C4;
}

.module-status__icon {
  width: 5px;
  height: 5px;
  color: green;
}

.module-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.module-header__item {
  margin: 0;
}

.module-header__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-right: 15px;
}

.module-header__item:last-child {
  margin-top: 0;
  margin-left: 0 !important;
}

.module-header__item-wrapper {
  margin: 0;
}

.module-header__id {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
}

.module-header__title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.module-header__title span {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  max-width: calc(100% - 20px);
}

.module-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.module-header__elem {
  width: 100%;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.module-header__elem:first-child {
  margin-top: 0;
}

.module-header__elem::after {
  display: none;
}

.module-header__buttons {
  border-top: 1px solid #BFC0C4;
  width: calc(100% + 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 20px 0;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

.module-header__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: auto;
  width: 130px;
  height: 40px;
  background-color: #27AE60;
  padding: 0;
}

.module-header__status .module-header__rating {
  width: 15px;
  height: 15px;
  color: #BFC0C4;
  fill: #BFC0C4;
}

.module-header__status .module-status__icon {
  width: 15px;
  height: 15px;
  color: green;
}

.module-header__status-btn {
  padding: 0;
}

.module-header__btn-inner {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.module-header__warning {
  margin-top: 15px;
  display: none;
}

.module-main__wrapper {
  width: 100%;
  display: inline-block;
  height: auto;
}

.module-main__text {
  padding: 0;
}

.module-main__inner {
  padding: 0;
}

.module-main__text-wrapper {
  padding: 0;
}

.module-main__image {
  padding: 0;
}

.module-main__image img {
  width: 100%;
  padding: 0;
  margin-top: 5px;
}

@media (min-width: 375px) {
  .module {
    margin-top: 20px;
  }
  .module-about__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .module-about__title span {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .module-type__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  .module-info__item {
    width: auto;
    margin-right: 15px;
  }
  .module-info__item::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    margin-right: 7px;
  }
  .module-info__item:last-child {
    margin-right: 0;
  }
  .module-info__item span {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .module-header__id {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
  }
  .module-header__title {
    width: auto;
  }
  .module-header__title span {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .module-header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .module-header__btn-inner {
    width: auto;
  }
  .module-header__btn {
    margin-top: 0;
    margin-left: 5px;
  }
  .module-header__btn span {
    width: 155px;
    height: 40px;
  }
  .module-header__title span {
    max-width: calc(100% - 60px);
  }
  .module-header__status {
    margin-right: 5px;
  }
  .module-header__status-btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .module-header__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .module-header__elem {
    width: auto;
  }
  .module-header__elem::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1px;
    height: 100%;
    content: "";
    position: absolute;
    background-color: #BFC0C4;
  }
  .module-header__elem:last-child {
    margin-top: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  .module-header__elem span {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .module-main {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 0;
  }
  .module-main__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .module-main__wrapper {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .module-main__image {
    width: 281px;
    height: 193px;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .module-main__image img {
    margin-top: 0;
    display: block;
    position: absolute;
    bottom: 0;
  }
  .progress-bar__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .roll-up__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header__btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .modules__main {
    max-width: 1181px;
  }
  .module {
    max-width: 1181px;
  }
  .module__wrapper {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .module__wrapper-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
  }
  .module__roll-up {
    display: none;
  }
  .module__wrapper-inner {
    border-bottom: 1px solid #BFC0C4;
  }
  .module__column {
    width: 100%;
  }
  .module__image img {
    width: 389px;
    height: 269px;
  }
  .module-status__icon {
    width: 20px;
    height: 20px;
  }
  .module-header__buttons {
    border-top: 0;
    margin-top: 0;
    padding: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .module-header__icon {
    width: 30px;
    height: 30px;
  }
  .module-main {
    min-height: 298px;
    max-height: 298px;
  }
  .module-main__inner {
    width: 100%;
    margin: 32px 142px 0 61px;
  }
  .module-main__image img {
    width: 389px;
    height: 269px;
  }
}
